body {
    background-color:#333a35;
}
.container1 {
   display: flex;
   align-items: center;
  
}
.container1  img{
    width: 40px;
    height: 40px;
    margin: 0;
}
.container1 ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.container1 li {
    margin: 0px 10px;
   list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.icons {
    display: flex;
    justify-content: space-between;
    color: orange;
    margin: 0px 10px;
    width: 20px;
}
/* Gear Section Starts here */
.gearparent {
    display: flex;
    flex-direction: column;
    background-color: #dfd6c8;
    margin: 0px 50px 0px 0px;
}
.gearparent h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eca419;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
}
.gearparent .boxcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display:flex;
    background-color: #fff;
    width: 65%;
    margin: 3px 0px;
}
.gearparent .box img {
    margin:30px;
}
.gearparent .boxcontainer .box .column h2{
    width: fit-content;
    text-transform: uppercase;
    margin: 30px;
    font-weight: lighter;
}
.gearparent .boxcontainer .box .column p{
    width: fit-content;
    margin: 30px;
}
.gearparent .boxcontainer .box .main{
    position: relative;
    top: 0;
    left: 0;
}
.gearparent .boxcontainer .box .overlay {
    position: absolute;
    top: 1075px;
    left: 320px;
}